.heading-part{
    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url('../B9A1-New-Year-New-Mission/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 16px;
    
}
.heading-title-description{
    text-align: center;
    padding-top: 145px;
}
.heading-title{
    color: #fff;
    font-size: 26px;
    font-weight: 400px;
    font-family: 'merriweather, serif;
}
.heading-description{
    color: rgb(240, 233, 233);
    font-size: 60px;
    font-family: 'merriweather, serif;
}
#offer{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 80px;
font-weight: 700;
}
#deals{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 25px;
font-weight: 500;
}
#categories{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
padding-bottom: 50px;
}
#new-year-photo{
    width: 802.9px;
height: 500px;
padding: 30px 20px 100px 120px;
}
.happy-new-year{
    padding: 0 380px;
    width: 802.9px;
height: 500px;
}
}
.welcome-part{
    width: 82.5%;
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    background-image: url('../B9A1-New-Year-New-Mission/resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
}
.welcome-part-title{
    color: #fff;
    font-family: 'merriweather,serif ;
    font-size: 45px;
    font-weight: 900px;
    letter-spacing: 5.80px;
    width: 530px;
}
.welcome-part-body{
    color: #rgba( 255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400px;
    width: 576px;
}

