.header{
    background-image: url(../B9A1-New-Year-New-Mission/resources/Banner\ Image.png);
    width: 1320px;
height: 600px;
border-radius: 16px;
background-color: linear-gradient;
padding: 50px 140px;
}
#offer{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 80px;
font-weight: 700;
}
#deals{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 25px;
font-weight: 500;
}
#categories{
    color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-weight: 700;
padding-bottom: 50px;
}
#new-year-photo{
    width: 802.9px;
height: 500px;
padding: 30px 20px 100px 120px;
}
.happy-new-year{
    padding: 0 380px;
    width: 802.9px;
height: 500px;
}
.background{
    background-image: url('../B9A1-New-Year-New-Mission/resources/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1320px;
height: 600px;
flex-shrink: 0;
margin: 50px 140px;
}
#group2024{
    width: 200px;
height: 350px;
padding: 200px ;
margin-left: 800px;
}
